.nav {
  height: 120px;
  transition: all 300ms ease-in-out;

  &-list {
    display: flex;
    height: 120px;
  }

  &:hover,
  &:focus {
    &::before {
      visibility: visible;
      opacity: 1;
      height: 250px;
      z-index: 2;
    }

    .nav-menu {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }

  .nav-menu {
    opacity: 0;
  }

  &::before {
    content: "";
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    display: block;
    transition: all 400ms ease-in-out;
    visibility: visible;
    opacity: 0;
  }

  &-item {
    font-size: 18px;
    height: 120px;
    font-weight: 500;
    flex-shrink: 0;
    position: relative;

    &:not(:last-child) {
      padding: 0 44px;
    }

    &:last-child {
      padding-left: 44px;
    }

    &:hover {
      > a:not(:last-child)::before {
        display: block;
        width: 100%;
        transform: scaleX(1);
      }
    }

    > a {
      display: block;
      height: 120px;
      line-height: 120px;
      position: relative;

      &:not(:last-child)::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: $orangey-red;
        transform: scaleX(0);
        transition: all 300ms ease-in-out;
      }
    }

    .nav-shop {
      padding: 4px 18px;
      background-color: $orangey-red;
      border-radius: 15px;
      color: $white;
      font-weight: bold;
    }
  }
}

.nav-menu {
  position: absolute;
  height: 250px;
  flex-direction: column;
  visibility: hidden;
  padding-top: 30px;
  top: 120px;
  left: 0;
  padding-left: 40px;
  opacity: 0;
  transition: opacity 400ms ease-in-out;

  li {
    padding: 15px 0;
    font-size: 16px;
    width: 150px;
    font-weight: normal;
  }

  li:hover {
    a {
      color: $orangey-red;
    }
  }
}
