$black: rgb(34, 34, 34);
$orangey-red: rgb(255, 89, 46);
$white: rgb(255, 255, 255);
$warm-white: rgb(250, 248, 246);
$windows-blue: rgb(52, 132, 198);
$shamrock: rgb(0, 172, 77);
$medium-pink: rgb(240, 110, 165);
$orangey-yellow: rgb(252, 182, 20);
$red: #f00;
$warm-grey: #999;
$black-mob: #1d1d1d;
$swiper-pagination-color: rgb(255, 89, 46);
$reddish-grey: #8f7c70;
$tomato: #eb5c2a;
$warm-grey-2: #808080;
$red-orange: #f43b00;
$light-khaki: #fbf4e4;
$sapphire: #2a31a0;
$cobalt: #1b4793;
